<h1>UserProfiles#edit</h1>
<p>Find me in app/views/user_profiles/edit.html.erb</p>

<h2><%= @user.model_name.human %>データ変更</h2>

<%= form_with model: @user, url: user_profiles_update_path do |f| %>

  <div class = 'field'>
    <%= f.label :city, '天気予報地点登録' %><br />
    <%= f.collection_check_boxes :city_users, City.all_id_and_name, :id, :name do |city| %>
      <%= city.check_box %>
      <%= city.text %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<%= link_to "戻る", :back %>
