<h2>天気予報地域登録</h2>

<%= form_with model: @city_users, url: weather_forecasts_path, method: :put do |f| %>

  <div class = 'field'>
    <%= f.label :city, '地域' %><br />
    <%= f.collection_check_boxes :city_ids, @all_cities, :id, :name, include_hidden: false do |city| %>
      <%= city.check_box checked: @my_city_ids.include?(city.value) %>
      <%= city.text %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<%= link_to "天気予報画面に戻る", weather_forecasts_path %><br /> <!-- 天気予報画面に移行する -->
